@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: rgba(86, 255, 86, 0.9);
    color: white;
}

/* body::-webkit-scrollbar {
            width: 12px;
}
        
body::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
} */

body {
    background: rgb(26, 25, 25);
}

/* header code start's */

header {
    width: 100vw;
    height: 40px;
    background-color: rgb(34, 33, 33);
    position: fixed;
}

header nav {
    max-width: 500px;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    list-style: none;
    color: white;
    margin-top: 6px;
    font-family: laila, sans-serif;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
    padding: 2px;
    border-radius: 3px;
    font-size: 15px;
    border: 1px solid transparent;
}

header nav ul li a:hover {
    /* color: black; */
    border-color: rgb(106, 255, 0);
    background-color: rgba(0, 255, 0, 0.2);
}

.icon3, .icon2 {
    vertical-align: middle;
}

i {
    color: lime;
    text-shadow: 0.1px 0.1px 5px lime;
    margin-right: 5px;
}

/* header code end's */

.sidebar-btn i {
  display: none;
}

.nav-links-main {
  display: none;
}

.sidebar-container {
  background-color: #1a1919;
  display: none;
}

/* this if just for about option code */

#paragraph {
    max-width: 60%;
    margin: auto 40px;
    padding-top: 60px;
}

#paragraph .paragraph-1 {
    color: white;
    font-family: fredoka;
}

/* this is end for the about option css code */

/* responsive css code start's */

@media only screen and (max-width: 760px) {
    header nav ul {
        display: none;
    }

    /* Navbar css code for mobile responsive starts */
  
    .nav-container {
        background: #222121;
        width: 100%;
        min-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* Navbar css code for responsive mobile ends */
    
    /* sidebar code for responsive mobile starts */
    
    .sidebar-container {
        background: #222121;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        transition: 2s;
        opacity: 0;
        z-index: 999;
        display: block;
    }
    
    .sidebar-container.show-sidebar {
        left: 0;
        opacity: 1;
    }
    
    .font-icon {
        position: absolute;
        right: 10px;
        top: 8px;
    }
    
    .sidebar-btn {
        cursor: pointer;
    }
  
    .sidebar-btn i {
        position: absolute;
        left: 10px;
        top: 8px;
        font-size: 25px;
        display: block;
    }
    
    .close-btn {
        font-size: 25px;
        cursor: pointer;
    }
    
    .sidebar-main-content {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sidebar-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
    
    .sidebar-links li {
        color: white;
        list-style: none;
    }
    
    .sidebar-links li a {
        font-size: 20px;
        color: inherit;
        text-align: center;
        text-decoration: none;
        font-family: laila, sans-serif;
        padding: 10px;
        border-radius: 5px;
        letter-spacing: 1px;
    }
  
  /* sidebar code for responsive mobile ends */

    #menu-button {
        display: block;
    }

    #paragraph {
        max-width: 100%;
    }
}

/* @media only screen and (max-width: 1200px) {
    #gallery .year {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header-text .sub-header {
        font-size: 15px;
    }
} */

/* responsive css code end's */