@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Gurajada&family=Laila:wght@300;400;500;600;700&family=Rampart+One&family=Syne+Mono&family=Tilt+Neon&family=Unbounded:wght@200..900&family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ::-webkit-scrollbar {
    appearance: none;
} */

img, .release-year, #movie-languages nav ul li a {
  -webkit-user-select: none;
  user-select: none;
}

::placeholder {
  font-size: 12px;
  -webkit-user-select: none;
  user-select: none;
}

::selection {
  background-color: rgba(0, 255, 0, 0.9);
  color: white;
}

body {
  background: rgb(26, 25, 25);
  /* scroll-behavior: none; */
}

/* header code start's */

header {
  width: 100vw;
  height: 40px;
  background-color: rgb(34, 33, 33);
  position: fixed;
  z-index: 3;
  border-bottom: 3px solid linear-gradient(grey, white);
}

header nav {
  max-width: 500px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
}

header nav ul li {
  list-style: none;
  color: white;
  margin-top: 6px;
  font-family: laila, sans-serif;
}

header nav ul li a {
  text-decoration: none;
  color: inherit;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  font-size: 15px;
  border: 1px solid transparent;
}

header nav ul li a:hover {
  /* color: black; */
  border-color: rgb(106, 255, 0);
  background-color: rgba(0, 255, 0, 0.2);
}

.icon3,
.icon2 {
  vertical-align: middle;
}

i {
  text-shadow: 0.1px 0.1px 5px lime;
  color: lime;
  margin-right: 5px;
}

#searchInput {
  position: absolute;
  right: 30px;
  top: 7px;
  width: 200px;
  height: 25px;
  outline: none;
  background: white;
  color: black;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 0 5px;
}

/* header code end's */

/* main header code start's */

.header-text {
  padding-top: 60px;
  text-align: center;
  color: white;
}

.header-text > .main-header {
  font-family: zen tokyo zoo, sans-serif;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-size: 50px;
  -webkit-user-select: none;
  user-select: none;
  font-size: 5vw;
  text-transform: uppercase;
}

.header-text > .sub-header {
  font-family: tilt neon, sans-serif;
  font-size: 1.8vw;
}

/* main header code end's */

/* navigation for languages start's */

#movie-languages nav {
  max-width: 300px;
  margin: auto;
}

#movie-languages nav ul {
  display: flex;
  justify-content: space-around;
}

#movie-languages nav ul li {
  color: white;
  list-style: none;
}

#movie-languages nav ul li a {
  color: inherit;
  text-decoration: none;
  font-family: tilt neon;
  position: relative;
  top: 20px;
  padding: 5px;
  border-radius: 3px;
  /* z-index: -1; */
}

#movie-languages nav ul li a:hover {
  color: black;
  background-color: rgb(225, 255, 0);
}

/* navigation for languages end's */

/* navigation for years code start's */

#movie-years {
  max-width: 250px;
  margin: auto;
}

#movie-years nav ul {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 40px;
}

#movie-years nav ul li {
  list-style: none;
  color: white;
}

#movie-years nav ul li a {
  background: none;
  border: none;
  color: inherit;
  font-family: tilt neon;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  text-decoration: none;
}

#movie-years nav ul li a:hover {
  background: rgb(106, 255, 0);
  color: rgb(55, 54, 54);
  border-color: yellow;
}

/* navigation for years code end's */

/* gallery code start's */

#gallery {
  max-width: 90%;
  margin: auto;
  margin-top: 100px;
}

.year {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr)); /* Adjust the width of columns as per your requirement */
  grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
  column-gap: 25px;
  row-gap: 20px;
}

/* #gallery .year .image {
  width: 100%;
  height: 310px;
  border-radius: 7px;
  border: 0.0000000001px dotted rgba(100, 255, 100, 0.2);
} */

.image a {
  text-decoration: none;
}

#gallery .image a img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 7px;
  /* border: 0.0000000001px dotted rgba(100, 255, 100, 0.2); */
  object-fit: fill;
}

#gallery .image a img:hover {
  box-shadow: 1px 1px 10px lime,
              -1px -1px 10px lime;
}

.image a .content {
  /* text-align: center; */
  position: relative;
  top: -2px;
  color: white;
  font-family: gurajada;
  font-size: 25px;
  z-index: -1;
  margin-top: -8px;
}

#gallery .year .release-year {
  color: lime;
  font-family: coda;
  background: rgb(61, 61, 61);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 5px;
  border-radius: 3px;
  font-size: 13px;
  position: relative;
  top: -10px;
  z-index: -1;
}

#gallery .year-header {
  color: white;
  font-family: coda;
  font-size: 30px;
  text-decoration: underline;
}

section {
  margin-bottom: 60px;
}

h2 {
  width: 100%;
  height: 45vh;
  font-size: 50px;
  font-family: "exo 2";
  padding-top: 125px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* gallery code end's */

/* Menu button code start here */

#menu-button {
  position: absolute;
  top: 7px;
  right: 0;
  background: none;
  border: none;
  outline: none;
  display: none;
}

#menu-button i {
  background: lime;
  border: 2px solid yellow;
  padding: 5px;
  border-radius: 4px;
}

.icon-container {
  display: none;
}

/* menu button code end here */

/* footer code start's */

footer {
  width: 100vw;
  height: 30px;
  background-color: rgb(34, 33, 33);
  position: fixed;
  bottom: 0;
  border-top: 1px solid lime;
}

#footer {
  color: white;
  position: fixed;
  right: 10px;
  bottom: 6px;
  font-family: tenor sans;
}

/* footer code end's */

/* responsive css code start's */

@media only screen and (max-width: 600px) {
  header {
    z-index: 2;
  }

  header nav ul {
    display: none;
  }

  #select #pop-up {
    position: fixed;
    top: 10px;
    left: 5px;
    width: 25px;
    outline: none;
    border: 2px solid yellow;
    background: lime;
    appearance: none;
    border-radius: 5px;
    left: 8px;
    z-index: 3;
  }

  #select #pop-up option {
    color: white;
    /* display: none; */
  }

  #select .icon-container {
    display: block;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 4px;
    z-index: 3;
  }

  #select .icon-container i {
    color: white;
    position: relative;
    top: 13.5px;
    left: 10.3px;
    font-size: 13px;
    z-index: 3;
  }

  #movie-years nav ul li a {
    font-size: 12px;
  }

  #gallery .year {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 10px;
    row-gap: 5px;
    margin-bottom: 77px !important;
  }

  .content, .release-year {
    padding-top: 5px;
  }

  /* #gallery .year .image {
    width: 100px !important;
    height: 160px !important;
  } */

  #gallery .year-header {
    font-size: 20px;
  }

  #gallery .year .image .content {
    font-size: 15px;
  }

  #gallery .year .image .release-year {
    font-size: 7px;
    padding: 2px 5px;
  }

  .header-text .sub-header {
    font-size: 13px !important;
  }

  #movie-languages nav ul li a {
    font-size: 12px;
  }

  #menu-button {
    display: block;
  }

  #searchInput {
    right: 3px;
    width: 120px;
    height: 20px;
    top: 10px;
  }

  footer {
    font-size: 10px;
  }

  #footer {
    position: absolute;
    top: 9px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 600px) {
  #gallery .year  {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 15px;

  }

  /* .header-text .sub-header {
    font-size: 23px !important;
  } */

}

/* @media only screen and (max-width: 1320px) and (min-width: 1250px) {
  #gallery .year {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
  }

  .header-text .sub-header {
    font-size: 16px;
  }

  #gallery .year .image {
    width: 180px;
    height: 280px;
  }

  .content {
    font-size: 22px !important;
  }

  .release-year {
    font-size: 10px !important;
  }
} */

/* @media only screen and (max-width: 1250px) and (min-width: 1240px) {
  #gallery {
    max-width: 90%;
  }

  #gallery .year {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
  }

  #gallery .year .image {
    width: 150px;
    height: 250px;
  }

  .header-text .sub-header {
    font-size: 14px;
  }

  .content {
    font-size: 21px !important;
  }

  .release-year {
    font-size: 10px !important;
  }
} */

/* @media only screen and (max-width: 1240px) and (min-width: 1230px) {
  #gallery .year {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  #gallery .year .image {
    width: 165px;
    height: 250px;
  }

  .header-text .sub-header {
    font-size: 14px;
  }

  .content {
    font-size: 20px !important;
  }

  .release-year {
    font-size: 10px !important;
  }
} */

/* @media only screen and (max-width: 1230px) and (min-width: 1210px) {
  #gallery .year .image {
    width: 160px;
    height: 240px;
  }

  .header-text .sub-header {
    font-size: 14px;
  }

  .content {
    font-size: 20px !important;
  }

  .release-year {
    font-size: 9px !important;
  }
} */

/* @media only screen and (max-width: 1210px) and (min-width: 1122px) {
  #gallery .year .image {
    width: 150px;
    height: 240px;
  }

  .header-text .sub-header {
    font-size: 14px;
  }

  .content {
    font-size: 20px !important;
  }

  .release-year {
    font-size: 9px !important;
  }
} */

/* @media only screen and (max-width: 1122px) and (min-width: 1120px) {
  #gallery .year .image {
    width: 150px;
    height: 240px;
  }

  .header-text .sub-header {
    font-size: 14px;
  }

  .content {
    font-size: 20px !important;
  }

  .release-year {
    font-size: 9px !important;
  }
} */

/* @media only screen and (max-width: 1120px) and (min-width: 1110px) {
  #gallery .year .image {
    width: 150px;
    height: 240px;
  }

  .header-text .sub-header {
    font-size: 14px;
  }

  .content {
    font-size: 20px !important;
  }

  .release-year {
    font-size: 9px !important;
  }   
}

@media only screen and (max-width: 1110px) and (min-width: 1100px) {
  
} */

/* responsive css code end's */

/* 
* @media only screen and (max-width: 120px) and (min-width: 120px)
TODO: this is for demo pre-text for responsive css code */

/* 
  #gallery .year {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
  row-gap: 80px;
  margin-bottom: 100px;
} */

/* 
TODO: #gallery {
 !   max-width: 90%;
 !   margin: auto;
 !   margin-top: 100px;
 !   display: flex;
 !   flex-direction: column;
 !   /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
 !     grid-template-rows: 1fr;
 !     column-gap: 30px;
 !     row-gap: 60px; */
  /*}
 ! 
 ! #gallery .year {*/
    /* display: flex;
 !   flex-direction: column;
 !   flex-wrap: wrap;
 !   justify-content: center;
 !   align-items: center; */
   /* display: grid;
 !   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
 !   grid-template-rows: 1fr;
 !   column-gap: 20px;
 !   row-gap: 80px;
 !   margin-bottom: 100px;
 ! } */